<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GeoCollect</title>

  <!-- Scripts -->
  
  <!-- Styles -->
  <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
    <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>

<!-- HTML Templates -->
<script type="text/html" id="item-list-ground-view">
  <li><%= label %><button>Pick Up</button></li>
</script>
<script type="text/html" id="item-list-inventory-view">
  <li><%= label %><button>Drop</button></li>
</script>

<!-- UI Layout -->
<div id="loading-view" class="popup">
  <section class="popup-content">
    <h1>You gather your bearings</h1>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </section>
</div>
<section id='debug-view' class='hidden'>
  <ul>
    <li><span class='debug-label'>Lat</span><span id='debug-latitude'></span></li>
    <li><span class='debug-label'>Lng</span><span id='debug-longitude'></span></li>
    <li><span class='debug-label'>Acc</span><span id='debug-accuracy'></span></li>
    <li><span class='debug-label'>Frs</span><span id='debug-freshness'></span></li>
  </ul>
</section>
<section id="ground-view" class="sidebar sidebar-left off">
  <header><h1>Nearby Items:</h1></header>
  <nav>&gt;</nav>
  <ul></ul>
</section>
<section id="inventory-view" class="sidebar sidebar-right off">
  <header><h1>Held Items:</h1></header>
  <nav>&lt;</nav>
  <ul></ul>
</section>

<div id='map-view' class='hidden'></div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/bundle.js"></script>

</body>
</html>