// ---
// General Settings
// ---
$margin: 15px;
$padding: 15px;

// ---
// Sidebars
// ---
$sidebar-width-small: 200px;
$sidebar-width-large: 400px;

// ---
// Animation
// ---
$anim-duration: .5s;

// ---
// Colors
// ---
$white: #fff;
$black: #000;

@import 'compass/reset';


// ---
// General Styles
// ---
html, 
body {
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Helvetica', 'Sans-Serif';
  line-height: 1;
}

h1 {
  font-size: 2em;
  margin: $margin 0;
}

p {
  margin: $margin 0;
}

li {
  line-height: 1.5;
}

// ---
// App Layout
// ---
#ground-view {
  z-index: 2;
}

#inventory-view {
  z-index: 2;
}

#player-marker {
  background: url('../img/player.png') !important;
}

// ---
// Views
// ---
@import '_view.debug';
@import '_view.map';
@import '_view.sidebar';
@import '_view.popup';

// ---
// Components
// ---
@import '_spinner';

// ---
// Mobile
// ---
@import '_screen.mobile';
