/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


// ---
// General Settings
// ---
$margin: 15px;
$padding: 15px;

// ---
// Sidebars
// ---
$sidebarWidthSmall: 200px;
$sidebarWidthLarge: 400px;

// ---
// Animation
// ---
$animDuration: 0.5s;

@import "compass/reset";
@import "_screen.mobile";
@import "_spinner";

// ---
// Views
// ---
@import "_view.debug";
@import "_view.map";
@import "_view.sidebar";
@import "_view.popup";

// ---
// General Styles
// ---
html, body {
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-family: 'Helvetica', 'Sans-Serif';
  line-height: 1;
}

h1 {
  font-size: 2em;
  margin: $margin 0;
}

p {
  margin: $margin 0;
}

li {
  line-height: 1.5;
}

#ground-view {
  z-index: 2;
}

#inventory-view {
  z-index: 2;
}

#player-marker {
  background: blue;
}